<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login page</title>
</head>

<br><br><br>

<body style="background-color:white-space">
        <center>
           <table border="1"style="background-color:cyan">
           <thead>
           <td>
            <br> 
            <center>
            <form> 
      
    <from action="/ravi">
        <label>       
           UserName:<input type="text" name="UserName" required />
           Email:<input type="email" name="email" required />
           password:<input type="password" name="password" required />
         <input type="submit" name="login" />
     
         </table>
       </from>

       <br>
       <br>
         </center>
         </td>
 </thead>		
     
           </center> 
     </body>	   
</html>